body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(315deg, #111827 40%, #36096d 74%);
  background-repeat: no-repeat;
  color: #fff;
  font-family: "Poppins", sans-serif;

}