.container {
  display: flex;
  justify-content: center;
  min-height: 100%;
  position: relative;
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  max-width: 1280px;
  width: 100%;
}


.exchangeContainer {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.headTitle {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 5rem;
  letter-spacing: 0.2rem;
  margin-bottom: 30px !important;
  opacity: 0;
}

.subTitle {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 25px;
  opacity: 0;
}

.boxWrapper {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box{
  opacity: 0;
}

.tokenTitle {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 0.2rem;
  text-align: center;
}

.divider {
  background: linear-gradient(to right, #fff 0, orange 33%);
  height: 2px;
  margin: 4px 0;
  border-radius: 3px;
  width: 100%;
}

.bx2Wrapper {
  opacity: 0;
}


/* @keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
} */


@media (max-width: 768px) {
  .header h3 {
    padding: 10px;
  }

  .headTitle {
    font-size: 3rem;
  }

  .subTitle {
    font-size: 18px;
  }

  .boxWrapper {
    display: block;
  }

  .divider{
    margin-top: 40px;
  }
}

@media (max-width: 480px) {
  .headTitle {
    font-size: 2rem;
  }

  .subTitle {
    font-size: 16px;
  }

  .boxWrapper {
    display: block;
  }

  .tokenTitle {
    font-size: 24px;
  }
}

@media (max-width: 360px) {
  .headTitle {
    font-size: 1.5rem;
  }

  .subTitle {
    font-size: 14px;
  }

  .tokenTitle {
    font-size: 18px;
  }
}
