

.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  max-width: 1280px;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 10px;

}

.exchangeContainer {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;

}

.headTitle {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 5rem;
  letter-spacing: 0.2rem;
}

.subTitle {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-top: 1px;
}

.boxWrapper {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.boxCard {
  position: relative;
  top: -12px;
  width: 500px;
  height: 400px;
  aspect-ratio: 1 / 1.5;
  background: var(--clr-1);
  border-radius: 0.5rem;
  padding: 10px;
  
}

.boxCard::before, .boxCard::after {
  content: '';
  position: absolute;
  inset: -2px;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-3),
    var(--clr-4),
    var(--clr-5),
    var(--clr-4),
    var(--clr-3)
  );
  border-radius: inherit;
  /* animation: rotation 20s linear infinite; */
}

.boxCard::after {
  filter: blur(3.5rem);
}

.tokenTitle {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 0.2rem;
  text-align: center;
}

.divider{
  background:linear-gradient(to right, #fff 0, orange 33%);
  height: 2px;
  margin: 4px 0;
  border-radius: 3px;
  width: 100%;
}


/* @keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
} */


/* @media (max-width: 1024px) {
  .headTitle {
    font-size: 4rem;
  }

  .boxCard {
    width: 80%;
    height: auto;
  }
} */

@media (max-width: 768px) {
  .header h3{
    padding: 10px;
  }

  .headTitle {
    font-size: 3rem;
  }

  .subTitle {
    font-size: 18px;
  }

  .boxCard {
    width: 100%;
    height: 290px;

  }

  .boxWrapper{
    margin-top: 50px;
  }
}

@media (max-width: 480px) {
  .headTitle {
    font-size: 2rem;
  }

  .subTitle {
    font-size: 16px;
  }

  .boxWrapper{
    margin-top: 50px;
  }

  .boxCard {
    width: 90%;
    height: 290px;
  }

  .tokenTitle {
    font-size: 24px;
  }
}

@media (max-width: 360px) {
  .headTitle {
    font-size: 1.5rem;
  }

  .subTitle {
    font-size: 14px;
  }

  .boxCard {
    width: 100%;
    height: 290px;
  }

  .tokenTitle {
    font-size: 18px;
  }

  .boxWrapper{
    margin-top: 50px;
  }
}
