.noOrdersMessage {
  border: 1px solid #fff;
  color: #fff;
  background-color: #ff6961;
}

.container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(315deg, #1f283c 40%, #36096d 74%);
  border-radius: 4px;
  padding: 10px 20px;
  width: 90%;
  max-height: 220px;
  overflow: auto;
  color: #fff;
  margin: 0 auto;
  position: absolute;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  font-weight: 500;
  color: #f1c40f;
  margin-bottom: 1rem;
}

.order {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.order > div {
  display: flex;
  justify-content: flex-end;
  width: 7%;
}

.price {
  color: #0fb30f;
}

@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  .header,
  .order {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
  }

  .header,
  .order {
    font-size: 0.7rem;
  }

  .order > div {
    width: 10%;
  }
}
